

   
     <section class="container mt-5">
       <div class="row col-md-12">
    <table class="table   ">
  <thead>
    <tr>
    
      <th scope="col">image</th>
      <th scope="col">name</th>     
      <th scope="col">price</th>
      <th scope="col">product Count</th>
    </tr>
  </thead>
  <tbody>
    


      {{#each product }}
    <tr>
      <td><img style="width: 100px; height: 100px;" src="/images/{{this._id}}.jpg" alt="sorry"></td>
      <td>{{this.name}}</td>
       <td>{{this.price}}</td>
      <td>
          <button class="cart-item-count btn-danger mr-3">-</button>2<button class="cart-item-count btn-primary ml-3">+</button>
        </td>
        <td><button class="btn btn-danger">remove</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
 </div>
</section>