<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">LOGIN</h2>
            <form action="/login" method="POST">
            {{#if login_email_err}}
            <p class="error text-danger">{{login_email_err}}</p>
            {{/if}}
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                 {{#if login_password_err}}
            <p class="error text-danger">{{login_password_err}}</p>
            {{/if}}
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="Password" id="exampleInputPassword1" placeholder="Password">
                </div>
                <a href="/signup">Create New Account?</a>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>


</div>